.bookworm__onsale {
    padding: 0px;
    .bookworm__onsale__title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .bookworm__onsale_button{
        
        button {
            background-color: #000;
            color: #fff;
            font-size: 1rem;
            font-weight: 600;
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 0.5rem;
            cursor: pointer;
            transition: all 0.15s ease-in-out;
            border: 1px solid #000;
    
            &:hover {
                background-color: #fff;
                color: #000;
            }
        }
    }
}

.carousel {
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 30px 30px;
    width: 100%;

    .loading {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;
    }
}

.carousel__books{
    .react-multi-carousel-item {
        display: flex;
        justify-content: center;
    }

    .card__custom {
        width: 95%;
    }
}

