.bookworm__about{
    margin-top: 80px;

    .row {
        padding-left: 20%;
        padding-right: 20%;
    }

    .bookworm__about__welcome{
        h3 {
            text-align: center;
        }

        p {
            font-size: large;
            margin: 30px 0;
        }
    }
}