.shop__filtermenu{
    margin-bottom: 4px;

    .shop__filtermenu__body{

        // Cursor
        cursor: pointer;
        // Hover effect
        &:hover{
            background-color: #f5f5f5;
        }
    }
}