.bookworm__cart{
    margin-top: 80px;

    .bookworm__cart__content {

        .bookworm__cart__image{
            width: 100px;
            height: 150px;
            margin-right: 20px;
        }

    }

    .bookworm__cart__price__discount{
        text-decoration: line-through;
        color: gray;
        font-size: 16px;
    }

    .bookworm__cart__price__final{
        font-weight: 600;
        font-size: 26px;
    }

    min-height: calc(100vh - 210px);
}
