.bookworm__reviews {

    .bookworm__reviews__body {
        background-color: #f5f5f5;
        padding: 30px;

        .bookworm__review__empty{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-size: 20px;
            color: #999;

            p {
                margin: 0;
            }
        }

        .bookworm__reviews__rating {
            color: #6c757d;
            font-size: 16px;
        }
    }

    .bookworm__reviews__title {
        display: flex;
        text-align: center;
        margin-bottom: 1rem;

        span {
            margin-left: 6px;
            color: #6c757d;
        }
    }


}

.bookworm__reviews__statistics{

    h3 {
        margin-bottom: 0px;
    }

    .bookworm__reviews__statistics__filter{
        span {
            font-size: 12px;
            cursor: pointer;
        }
    }

    .bookworm__reviews__statistics__filtertext {
        font-size: 12px;
        color: #6c757d;
        margin-bottom: 1rem;
        text-decoration: underline;
        cursor: pointer;
    }
}

.bookworm__reviews__filterbar{
    display: flex !important;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
}

.bookworm__reviews__filterbar__dropdown{
    display: flex !important;
    justify-content: flex-end;

    .bookworm__reviews__filterbar__dropdown__sorting{
        margin-right: 6px;
    }

    button {
        background-color: #000;
        color: #fff;
        font-size: 1rem;
        font-weight: 600;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: all 0.15s ease-in-out;
        border: 1px solid #000;

        &:hover {
            background-color: #fff;
            color: #000;
            border: 1px solid #000;
        }

        &::backdrop {
            background-color: #000;
        }
    }

    a {
        &:hover {
            color: #fff;
            background-color: #000;
        }
    }
}

.bookworm__reviews__pagination {
    display: flex;
    justify-content: center;

    .page-link {
        color: #000;
        background-color: #f5f5f5;
    }

    .page-link:active{
        background-color: #000;
        color: #fff;
    }

    .page-link.active, .active > .page-link {
        background-color: #000;
        color: #fff;
        border-color: #000;
    }

    .page-link:hover {
        background-color: #000;
        color: #fff;
    }
}