.shop__listproduct{
    // Center horizontally
    margin: 0 auto;
}

.shop__listproduct__sorting{
    display: flex !important;
    justify-content: space-between;
    margin-bottom: 20px;
}

.shop__listproduct__sorting__dropdown{
    display: flex !important;
    justify-content: flex-end;

    .shop__listproduct__sorting__dropdown__sorting{
        margin-right: 6px;
    }

    button {
        background-color: #000;
        color: #fff;
        font-size: 1rem;
        font-weight: 600;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: all 0.15s ease-in-out;
        border: 1px solid #000;

        &:hover {
            background-color: #fff;
            color: #000;
            border: 1px solid #000;
        }

        &::backdrop {
            background-color: #000;
        }
    }

    a {
        &:hover {
            color: #fff;
            background-color: #000;
        }
    }
}