.shop__listproduct{
    // Center horizontally
    margin: 0 auto;
}

.shop__listproduct__sorting{
    display: flex !important;
    justify-content: space-between;
    margin-bottom: 20px;
}

.shop__listproduct__sorting__dropdown{
    display: flex !important;
    justify-content: flex-end;

    .shop__listproduct__sorting__dropdown__sorting{
        margin-right: 6px;
    }
}