@media (max-width: 1200px) {
    .bookworm__cart__header{
        div {
            display: flex;
            justify-content: center;
        }
    }

    .bookworm__cart__booktitle {
        display: flex;
        justify-content: center;
    }

    .bookworm__cart__price__final, .bookworm__cart__price__discount {
        display: flex;
        justify-content: center;
    }
    
}



.bookworm__cart__quantity {
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    background-color: #999;
    h6 {
        cursor: pointer;
        font-size: 28px;
        border-radius: 15px;
    }
    button {
        height: 42px;
        width: 42px;
        border: none;
        color: #000;
    }
}

.bookworm__cart__empty{
    h5 {
        font-size: 28px;
        font-weight: 600;
        text-align: center;
    }
}

.bookworm__cart__image {

    &:hover {
        cursor: pointer;
    }
}